.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

.header {
    grid-column: 2 / 3;
    grid-row-start: 1;
}

.sidebar {
    grid-column-start: 1;
    grid-row: 1 / -1;
    background-color: blue;
}

.main-content {
    background-color: lightslategray;
}