@font-face {
    font-family: "Roboto-regular";
    src: url(./fonts/Roboto-Regular.ttf);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto-regular";
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

#icon {
    height: 50px;
}

.icon {
    height: 40px;
    padding-right: 10px;
    align-self: center;
}

.header {
    grid-column: 2 / 3;
    grid-row-start: 1;

}

.sidebar {
    grid-column-start: 1;
    grid-row: 1 / -1;
    background-color: #1992D4;
}

.sidebar-header-container {
    margin: 3vh 4vw 7vh 2vw;

    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dashboard-header { 
    color: azure;
    font-size: clamp(30px, 2.2vw, 36px); 
    align-self: center;
    margin: 0;
}


.sidebar-second-container,
.sidebar-third-container {

    color: azure;
    font-size: clamp(20px, 1.8vw, 32px); 
    margin: 0 4vw 7vh 2vw;


    display: grid;
    grid-template-columns: 1fr 5fr;
}

.nav-link {
    margin: 1vh;
    align-self: center;
}

.main-content {
    background-color: lightslategray;
}