@font-face {
    font-family: "Roboto-regular";
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-medium";
    src: url(./fonts/Roboto-Medium.ttf);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto-regular";
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4.8fr;
    min-height: 100vh;
}



.icon {
    height: 30px;
    padding-right: 10px;
    align-self: center;
}


.sidebar {
    grid-column-start: 1;
    grid-row: 1 / -1;
    background-color: #1992D4;
}

.sidebar-header-container {
    margin: 3vh 4vw 7vh 2vw;

    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dashboard-header { 
    color: azure;
    font-size: clamp(30px, 2.2vw, 36px); 
    align-self: center;
    margin: 0;
}


.sidebar-second-container,
.sidebar-third-container {

    color: azure;
    font-size: clamp(20px, 1.8vw, 32px); 
    margin: 0 4vw 7vh 2vw;


    display: grid;
    grid-template-columns: 1fr 5fr;
}

.nav-link {
    margin: 1vh;
    align-self: center;
}

.main-content {
    background-color: lightslategray;
}

/*sidebar ends*/
/* header  start*/

.profile-image img {
    height: 4vh;
}
.profile-image {
    height: 4vh;
    width: 4vh;
    border: 2px solid black;
    border-radius: 50%;
    margin: 14px;
}

.header button {
    all: unset;
}

.header button > img {
    height: 2.5vh;
}


#header-icon {
    height: 45px;
}

.header {
    grid-column: 2 / 3;
    grid-row-start: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-row {
    display: flex;
}

.right-content {
    display: flex;
    margin: 12px 12px 12px auto;
    align-items: center;
}

.left-form {
    display: flex;
    align-items: center;
    margin: 12px 12px 12px 3vw;

}

.search-input {
    all: unset;
    background-color: lightgray;
    width: 45vw;
    height: 3vh;
    border-radius: 18px;
    margin-left: 1.5vw;
}

.user-name-1 {
    font-size: 1.2rem;
    font-family: "Roboto-medium";
}